<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="CloudFuseAtmos" switchName="CloudFuseAtmos"
            switchType="System.Diagnostics.SourceSwitch">
      </source>
      <source name="AtmosFilesystem" switchName="AtmosFilesystem"
            switchType="System.Diagnostics.SourceSwitch">
      </source>
      <source name="EsuRestApi" switchName="EsuRestApi"
            switchType="System.Diagnostics.SourceSwitch">
      </source>
    </sources>
    <switches>
      <add name="CloudFuseAtmos" value="All" />
      <add name="AtmosFilesystem" value="All" />
      <add name="EsuRestApi" value="Warning" />
    </switches>
  </system.diagnostics>
</configuration>